

*.ldb

*.mdb

import_scripts/Ingredienten/.idea/

import_scripts/shops/.idea/

import_scripts/files/WinkelsMario.txt

import_scripts/logs/

.vscode/

import_scripts/.idea/inspectionProfiles/profiles_settings.xml

.idea/

import_scripts/temp/tempZipcode.csv

import_scripts/files/**

import_scripts/temp/**
